* {
    box-sizing: border-box;
    color: white;
    margin: none;
    padding: none;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    line-height: 1.4;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 6px;
    margin-bottom: 100px;
}


.form-container input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid black;
    border-radius: 3px;
}

.form {
    background-color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 15px 10px -15px #111;
}

.trial {
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    height: 75px;
    box-shadow: 0px 15px 10px -15px #111; 
}

#claim {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    height: 50px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}
.form p {
    color: black;
    font-size: 12px;
}

.form a {
    color: red;
    display: block;
    text-decoration: none;
}

.button a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5;
}